---
layout: default
---
<div class="container">
  <div class="jumbotron with-background-path">
    <div class="row ">
      <div class="col-md-4 text-center">
        <img alt='Logo Aidants Keilana' src='/assets/images/logo.svg' width="250" class="img-responsive center-block">
      </div>
      <div class="col-md-7 text-center">
        <h1>{{site.data.site.title}}</h1>
        <div class="baseline">{{site.data.site.baseline}}</div>
      </div>
    </div>

    <div class="spacer-40"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Vous accompagnez un proche atteint d'une pathologie vieillissante ou d'un handicap physique ?</p>
        <p>Vous prenez soin de cette personne et vous vous sentez seul et démuni face à la situation ?</p>
        <p>Vous voudriez savoir comment apprivoiser ce rôle ?</p>
        <p><a href="mailto:{{site.data.contact.email}}" class="btn btn-primary btn-lg dark-primary-color">Contactez moi</a></p>
      </div>
    </div>
  </div>

  <div class="spacer-40"></div>
  <div class="row service-detail">
    <div class="col-md-2">
      <img alt='marcher ensemble' src='/assets/images/walk.png' width="250" class="img-responsive center-block service-image">
      {% include credit.html name='chefranden' url='https://www.flickr.com/photos/chefranden/11296792324' %}
    </div>
    <div class="col-md-10">
      <h2>Accompagnement individuel</h2>
      <p>Réalisé hors de votre carde de vie quotidienne, nous discuterons de vos difficulté et trouverons des moyens d'améliorer votre quotidien.</p>

      <p>Si nécéssaire, je partage mes compétences d'auxiliaire de vie sociale :
        <ul>
          <li>Médiation entre la personne accompagnée et vous</li>
          <li>Sensibilisation par la transmission de connaissances spécifiques sur des pathologies</li>
          <li>Renforcement de la formation sur les gestes et postures au domicile.</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="spacer-40"></div>
  <div class="row service-detail">
    <div class="col-md-2">
      <img alt='discuter ensemble' src='/assets/images/group.jpg' width="250" class="img-responsive center-block service-image">
      {% include credit.html name='cybaea' url='https://www.flickr.com/photos/cybaea/3179626584/' %}
    </div>
    <div class="col-md-10">
      <h2>Accompagnement collectif</h2>
      <p>J'anime des séances libres d'échange entre proches aidant, dans un cadre convivial, pour
        <ul>
          <li>Rompre l'isolement</li>
          <li>Conserver et maintenir un lien social hors de votre situation d'aidant</li>
          <li>Partager et entendre des expériences de personnes connaissant les mêmes difficultés et qui ont pu les surmonter</li>
        </ul>
      </p>
    </div>
  </div>

</div>